{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ car.model }}</span>
        <p>Make: {{ car.make }}</p>
        <p>Year: {{ car.year }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'cars_update' car.id %}">Edit</a>
        <a href="{% url 'cars_delete' car.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_service' car.id %}" method="POST">
      {% csrf_token %}
      {{ service_form.as_p }}
      <input type="submit" class="btn" value="Add Service">
    </form>    
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Service</th></tr>
      </thead>
      <tbody>
        {% for service in car.servicescompleted_set.all %}
          <tr>
            <td>{{service.date}}</td>
            <td>{{service.get_service_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>The {{ car.model }}'s Shows</h3>
      {% if car.shows.count %}
        {% for show in car.shows.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                 <h5>{{ show.name }}</h5>
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Shows Yet</h5>
      {% endif %}
    </div>  
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Shows</h3>
    {% if shows.count %}
      {% for show in shows.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <h5>{{ show.name }}</h5>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_show' car.id show.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>The {{car.model}} Has Already Has Been To All Shows Available</h5>
    {% endif %}
  </div>    
</div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  const selectEl = document.getElementById('id_service');
  M.FormSelect.init(selectEl);  
</script>
{% endblock %}